.info {
    padding: 15px 30px;
    color: white;
}

.container{
    flex-direction: column;
}
.block{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.project{
    margin-bottom: 40px;
    font-size: 20px;
}
.support{
    margin-top: 25px;
    font-size: 16px;
}
.donate {
    margin-top: 10px;
    width: max-content;
    //&:hover {
    //    background-color: brown;
    //    color: white;
    //}
}
.contacts{
    margin-top: 10px;
}

.subtitle{
    font-size: 18px;
}

.butt {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: rgba(245, 55, 55, 0.8);
  color: white;
  height: 40px;
}
.butt:hover {
  font-size: 15px;
  background-color: rgba(245, 55, 55, 0.9);
}
