.container{
  border-top: 1px solid lightgray;
  min-height: 60px;
  margin-top: 15px;
}
.container-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-group{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.btn {
  font-size: 18px;
    font-weight: 400;
    border-radius: 0px;
    border-radius: 3px !important;
    width: 80px;
    height: 40px;
    cursor: pointer;
    border: none;
    margin: 0px 30px;
}

.btn.btn-info{
  background-color: #193952;
}

.btn.btn-danger{
  background-color: #ef233c;
}

.textarea {
  border-radius: 10px;
  resize: none;
  width: 100%;
  border: 1px solid lightgray;
  padding: 10px 15px;
}

textarea:focus {
  outline: 0;
}

h4{
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 16px;
}

p{
  margin-bottom: 10px;
}
