<link href="https://fonts.googleapis.com/css?family=Alegreya" rel="stylesheet">
<div class="Matching__container">
  <div class="row">
    <div class="col-sm-5">
      <div class="Matching__searching">
        <h3>Need for</h3>
      </div>
      <div class="Matching__buttons">
        <div *ngFor="let radioParam of radioParams; let idx = index">
          <input type="radio" class="radio-inline" id=idx name="matchingChoice" (change)="filter(radioParam.value)">
          <label for="idx">{{ radioParam.label }}</label>
        </div>
      </div>
      <div class="Profile__container">
        <div class="profile" style="width:400px" *ngFor="let userwithava of users$ | async">
          <img class="profile-img-top"
               [src]="userwithava.avatar"
               alt="profile image" style="width:100%">
          <div class="profile-body">
            <h4 class="profile-title">{{userwithava.userProfile.firstName}}</h4>
            <p class="profile-text">{{userwithava.userProfile.lastName}}</p>
            <a href="#" class="btn btn-primary">See Profile</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-7">
      <div class="Map__container">
        <!--<agm-map [latitude]="lat" [longtitute]="lng">-->
          <!--<agm-marker [latitude]="lat" [longtitute]="lng"></agm-marker>-->
        <!--</agm-map>-->
      </div>
    </div>
  </div>
</div>

