<link href="https://fonts.googleapis.com/css?family=Alegreya" rel="stylesheet">
<div class="Matching__container">
  <div class="row">
    <div class="col-sm-5">
      <div class="Matching__searching">
        <h3>Need for</h3>
      </div>
      <div class="Matching__buttons">
        <div *ngFor="let radioParam of radioParams; let idx = index">
          <input type="radio" class="radio-inline" id=idx name="matchingChoice" >
          <label for="idx">{{ radioParam.label }}</label>
        </div>
      </div>
      <div class="Profile__container">
        <div class="card" style="width: 18rem;" *ngFor="let userwithava of users$ | async">
          <img class="card-img-top" [src]="userwithava.avatar" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{userwithava.userProfile.firstName}}</h5>
            <p class="card-text">{{userwithava.userProfile.lastName}}</p>
            <a href="#" class="btn btn-primary" [routerLink] = "['/chat']">Chat</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-7">
      <div class="Map__container">
        <ngui-map zoom="13" center="Brampton, Canada">
          <img scr="http://croftylandv.tumblr.com/image/172892127101">
          <marker *ngFor="let pos of positions" [position]="pos"></marker>
        </ngui-map>
      </div>
    </div>
  </div>
</div>

