.logo-img {
    width: 40px;
    height: 40px;
    margin-right: 3px;
}

.logo {
    display: inline-flex;
    align-items: center;
}

.menu {
    display: inline-flex;
    list-style-type: none;
    margin: 0;
}

.menu-item {
    display: inline-flex;
    padding: 10px;
    color: white;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}