#registration {
    width: 100%;
    position: relative;
}

.reg-block {
    width: 400px;
    position: absolute;
    top: 50px;
    right: 50px;
    z-index: 5;
    background: rgba(52,58,64,0.8);
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .1);
}

#video-background {
    width: 100%;
    z-index: -100;
}

.title {
    text-align: center;
    font-size: 24px;
    margin: 10px 0px;
}

.subtitle {
    text-align: center;
    font-size: 20px;
    margin: 0px 0 15px;
}

#find, #questions, #feedbacks {
    padding: 15px 70px;
}

.find-items {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.find-block {
    display: flex;
    width: 45%;
    height: 130px;
    margin-bottom: 15px;
}

.find-image-block {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.find-image {
    width: 100px;
    display: inline-flex;
    margin-right: 25px;
}

.find-info {
    display: flex;
    flex-direction: column;
}

.find-info-title {
    font-size: 16px;
    margin-bottom: 10px;
}

.find-info-text {
    font-size: 12px;
    margin: 0;
}

#questions {
    background-color: darkgray;
}

.chat-btn {
    width: auto;
    padding: 10px 50px;
}

.questions-text {
    margin: 0;
}

.feed-block {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    cursor: pointer;
}

.breads:nth-child(3) {
    margin: 0;
}

.feed-block-image {
    width: 80px;
    display: inline-flex;
    margin-right: 25px;
}

.feed-block-info {
    display: flex;
    flex-direction: column;
}

.feed-block-info-title {
    font-size: 16px;
}

.feed-block-info-text {
    font-size: 12px;
    margin: 0;
}

.main-slide, .feed-slide {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 1200px) {
    #find, #questions, #feedbacks {
      padding: 15px 40px;
    }
    .feed-block-image {
      width: 60px;
    }
}

@media (max-width: 992px) {
    .find-block {
      width: 48%;
      height: 160px;
    }
    .find-image {
      width: 80px;
    }
    #registration {
      background-color: #e8e8e8;
    }
    .video-block {
      display: none;
    }
    .reg-block {
      margin: 20px auto;
      width: 80%;
      height: auto;
      position: relative;
      background-color: rgba(0, 0, 0, 0.1);
      left: 0;
      top: 0;
      transform: translate(0, 0);
      border-radius: 0;
    }
}

@media (max-width: 768px) {
    #find, #questions, #feedbacks {
      padding: 15px 16px;
    }
    .find-items {
      flex-direction: column;
    }
    .find-block {
      width: 75%;
      flex-direction: column;
      align-items: center;
      margin-bottom: 40px;
      height: auto;
    }
    .find-image {
      margin: 0;
      margin-bottom: 15px;
    }
}

@media (max-width: 576px) {
    .questions-text {
      margin-bottom: 10px;
    }
    .chat-btn {
      width: auto;
      padding: 10px 60px;
    }
    .find-block {
      margin-bottom: 20px;
    }
    .feed-block {
      margin: 15px 0;
    }
  .reg-block {
    width: 100%;
    border-radius: 0;
  }
}
