<div class="registration row">
  <form class="signUp-flow col-12 col-sm-10" novalidate [formGroup]="myform" (ngSubmit)="onSubmit()">
    <h4>And in the end:</h4>
    <div class="form-group"
         [ngClass]="{
        'has-danger': firstName.invalid && (firstName.dirty || firstName.touched),
        'has-success': firstName.valid && (firstName.dirty || firstName.touched)
      }">
      <input type="text"
             class="form-control"
             formControlName="firstName"
             required
             placeholder="First name">
      <div class="form-control-feedback"
           *ngIf="firstName.errors && (firstName.dirty || firstName.touched)">
        <p *ngIf="firstName.errors.required">First name is required</p>
      </div>
    </div>

    <div class="form-group"
         [ngClass]="{
        'has-danger': lastName.invalid && (lastName.dirty || lastName.touched),
        'has-success': lastName.valid && (lastName.dirty || lastName.touched)
      }">
      <input type="text"
             class="form-control"
             formControlName="lastName"
             required
             placeholder="Last name">
      <div class="form-control-feedback"
           *ngIf="lastName.errors && (lastName.dirty || lastName.touched)">
        <p *ngIf="lastName.errors.required">Last name is required</p>
      </div>
    </div>


    <div class="form-group"
         [ngClass]="{
          'has-danger': age.invalid && (age.dirty || age.touched),
          'has-success': age.valid && (age.dirty || age.touched)
     }">
      <input type="text"
             class="form-control"
             formControlName="age"
             required
             placeholder="Age">
      <div class="form-control-feedback"
           *ngIf="age.errors && (age.dirty || age.touched)">
        <p *ngIf="age.errors.required">Age is required</p>
      </div>
    </div>

    <div class="form-group"
         [ngClass]="{
          'has-danger': email.invalid && (email.dirty || email.touched),
          'has-success': email.valid && (email.dirty || email.touched)
     }">
      <input type="email"
             class="form-control"
             formControlName="email"
             required
             placeholder="Email">
      <div class="form-control-feedback"
           *ngIf="email.errors && (email.dirty || email.touched)">
        <p *ngIf="email.errors.required">Email is required</p>
        <p *ngIf="email.errors.pattern">The email address must contain at least the @ character</p>
      </div>
    </div>

    <div class="form-group"
         [ngClass]="{
          'has-danger': password.invalid && (password.dirty || password.touched),
          'has-success': password.valid && (password.dirty || password.touched)
     }">
      <input type="password"
             class="form-control"
             formControlName="password"
             required
             placeholder="Password">
      <div class="form-control-feedback"
           *ngIf="password.errors && (password.dirty || password.touched)">
        <p *ngIf="password.errors.required">Password is required</p>
        <p *ngIf="password.errors.minlength">Password must be 8 characters long, we need another
          {{password.errors.minlength.requiredLength - password.errors.minlength.actualLength}} characters </p>
      </div>
    </div>

    <div class="form-group"
         [ngClass]="{
          'has-danger': (myform.errors && myform.errors.mismatch) || confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched),
          'has-success': (!myform.errors) && confirmPassword.valid && (confirmPassword.dirty || confirmPassword.touched)
     }">
      <input type="password"
             class="form-control"
             formControlName="confirmPassword"
             required
             placeholder="Confirm password">
      <div class="form-control-feedback"
           *ngIf="confirmPassword.dirty || confirmPassword.touched">
        <p *ngIf="confirmPassword.errors && confirmPassword.errors.required">Confirm password is required</p>
        <p *ngIf="myform.errors && myform.errors.mismatch">Password not match</p>

      </div>
    </div>

    <button type="submit" class="btn btn-danger" [disabled]='!myform.valid'>REGISTER</button>
  </form>
</div>




