<div class="container">
  <div class="alert alert-success" *ngIf="isMailSend; else unset">
    Mail successfully send!
  </div>
  <ng-template #unset>
    <div class="alert alert-danger" *ngIf="error">{{error}}</div>
    <h2 class="title">Forgot your password?</h2>
    <h3 class="description">Don`t worry, be happy!</h3>
    <div class="col-md-4 offset-md-4">
      <form [formGroup]="recoverPassForm" (submit)="onSubmit()">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" formControlName="email" required
                 placeholder="Enter email: ">
        </div>
        <button type="submit" class="btn btn-danger btn-block">Email me a recovery link</button>
      </form>
    </div>
  </ng-template>
</div>
