.search-page {
  position: relative;
  min-height: 100%;
  width: 100%;

 .filter__container {
   display: flex;
   flex-direction: row;
   justify-content: stretch;
   align-items: stretch;
   width: 100%;
   transition: margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);

   .filter__component {
     flex: 1;
     width: 100%;
     font-size: 3vh;
     color: #fff;
     background: #193952;
     margin: .1em;
     padding: .1em;
     border: 2px solid #ef233c;
     border-radius: 4px;
   }
 }

 .user__gallery {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: stretch;
   width: 100%;
   min-height: 100%;

   .user__container {
     flex-direction: column;
     justify-content: stretch;
     width: 30%;
     margin: 10px;
     border: 3px solid #ef233c;
     box-shadow: 3px 3px 8px 0 #8d99ae;

     .user__img {
       flex: 2;

       img {
         width: 100%;
       }
     }

     .user__description {
       flex: 1;
     }
   }
 }

  .pager {
    width: 100%;
    height: 60px;
    border: 2px solid #ef233c;
    border-radius: 4px;
    background: #193952;
  }

  @media only screen and (max-width: 768px) {
   .filter__container {
     display: none;
     flex-direction: column;
     justify-content: stretch;
     align-items: stretch;
   }

   .user__gallery {
     display: flex;
     flex-direction: column;
   }
 }
}
