:host {
  .l-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .label {
      flex: 1;
      padding: .25em;
      margin: .25em;
      font-size: 16px;
    }

    .value {
      flex: 4;
      padding: .25em;
      margin: .25em;
      font-size: 16px;
    }
  }

  .bold {
    font-weight: 700;
  }

  input[type=text], input[type=tel], input[type=number] {
    font-size: 16px;
    padding: .5em;
    border: 1px solid #555b6e;
    border-radius: 2px;
    outline: none;

    &:focus {
      border: 1px solid #1a2580;
    }
  }

  .error {
    padding: .5em 0;
    color: #ef233c;
  }
}
