<div class="profile-page row" *ngIf="condition | async; else userPage">
  <div class="col-md-3">
    <app-left-part></app-left-part>
  </div>
  <div style="border-width: 0 0 0 1px; border-style: solid; color: rgba(0,0,0,.1); padding: 10px; margin-left: 10px;"></div>
  <div class="col-md-8">
    <app-right-part></app-right-part>
  </div>
</div>

<ng-template #userPage>
  <div class="profile-page user-page row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
          <app-left-part></app-left-part>
        </div>
        <div class="col-md-5">
          <app-user-profile-settings></app-user-profile-settings>
        </div>
        <div class="col-md-3">
          <div class="heart" title="DISLIKE" (click)="dislike()" *ngIf="!likeMode; else heart">&#x2665;</div>
          <ng-template #heart>
            <div class="heart2" title="LIKE ME!" (click)="addLike()">&#x2665;</div>
          </ng-template>
        </div>
      </div>
    </div>
    <hr class="col-md-11">
    <div class="col-md-11">
      <app-right-part></app-right-part>
    </div>
  </div>
</ng-template>
