/* Navbar section styles */

@mixin apply-flex($justify-content, $align-items, $align-content) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: $justify-content;
  align-items: $align-items;
  align-content: $align-content;
}

@mixin forbidTextSelection {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin remove-default-element-display {
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  text-decoration: none;
}

$color_1: #fff;

$color_2: #000;

$color_3: rgba(255, 255, 255, 0.05);

$color_4: #555b6e;

$color_5: #8d99ae;

$color_6: #a9a9a9;

$color_7: #555b6e;

$color_8: #9BA1B4;

$background-gradient_1: linear-gradient(to bottom, #73838c 0%,#878da0 100%);

$background-gradient_2: linear-gradient(to bottom, #555b6e 0%,#5f6578 100%);

$background-gradient_3: linear-gradient(to bottom, #7d8d96 0%,#9197aa 100%);

$background-gradient_4: linear-gradient(to bottom, #5f6578 0%,#737982 100%);

$box-shadow_1: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;

.main {
  @include apply-flex(center, flex-start, flex-start);
  @include forbidTextSelection;
  background: $background-gradient_2;
  border-right: 1px solid $color_4;
  height: 100%;
  min-height: calc(100vh - 55px);
  min-width: 220px;
  transition: 0.1s ease-in-out;
  width: 100%;
  z-index: 100;
}

@media screen and (max-width: 640px) {
  .main {
    height: auto;
    min-height: 100%;
    width: 100%;
  }
}

.link,
.link:hover,
.link:active,
.link:visited {
  @include remove-default-element-display
}

.section {
  transition: 0.1s ease-in-out;
  width: 0;
}

.text {
  font: 1rem "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
  margin: 0;
}

.white-text {
  color: $color_1;
}

.grey-text {
  color: $color_5;
}

.logo-container {
  @include apply-flex(flex-start, center, center);
  margin: 13px 0 20px 16px;
  width: 100%;
}

.logo-container-link {
  @include apply-flex(flex-start, center, center);
}

.logo-img {
  height: 40px;
  margin-right: 3px;
  width: 40px;
}

.logo {
  color: $color_1;
  font: 20px serif;
  text-align: center;
}

/* Administrator badge section */

.admin-badge {
  @include apply-flex(space-between, center, center);
  margin: 20px 20px 0 20px;
  width: calc(100% - 40px);
}

.photo-container {
  @include apply-flex(center, center, center);
  background: no-repeat center $color_6;
  background-size: cover;
  border-radius: 50%;
  border: 4px solid $color_1;
  color: $color_7;
  font-size: 2.5rem;
  height: 70px;
  width: 70px;
}

.user-status {
  margin: 10px 0;
  width: calc(100% - 20px);
}

@media screen and (max-width: 640px) {
  .logo-container,
  .admin-badge,
  .user-status {
    border: none;
    height: 0;
    overflow: hidden;
  }
}

/* Navigation bar section */

.admin-navbar,
.admin-navbar_section,
.admin-navbar_section-header,
.admin-navbar_dropdown-list,
.admin-navbar_option {
  width: 100%;
}

.admin-navbar_section-header:hover,
.admin-navbar_option:hover {
  cursor: pointer;
}

.admin-navbar_section-header {
  background: $background-gradient_4;
  box-shadow: $box-shadow_1;
}

.admin-navbar_section-header:hover {
  background: $background-gradient_3;
}

.admin-navbar_section {
  margin: 20px 0;
}

.admin-navbar_section-header {
  @include apply-flex(space-between, center, center);
  height: 45px;
  margin: 5px 0;
}

.admin-navbar_section-selected {
  background: $background-gradient_1;
}

.admin-navbar_section-description {
  @include apply-flex(flex-start, center, center);
  margin: 0 10px;
}

.icon-wrapper {
  @include apply-flex(center, center, center);
  border-radius: 5px;
  border: 1px solid transparent;
  height: 40px;
  margin-right: 10px;
  transition: 0.1s ease-in-out;
  width: 40px;
}

.icon-container {
  @include apply-flex(center, center, center);
  height: 30px;
  width: 30px;
}

.icon {
  color: $color_2;
  font-size: 1.8rem;
  transition: 0.1s ease-in-out;
}

.open-list-arrow-container {
  @include apply-flex(center, center, center);
  transition: ease-in-out 0.1s;
  margin: 0 10px;
  height: 100%;
}

.open-list-arrow {
  border: solid $color_2;
  border-width: 0 0.3em 0.3em 0;
  display: inline-block;
  margin-left: -0.1em;
  padding: 0.3em;
  transform: rotate(-45deg);
  transition: ease-in-out 0.1s;
}

.admin-navbar_section-header:hover .icon-wrapper {
  background-color: $color_3;
  border-color: $color_1;
}

.admin-navbar_section-header:hover .icon {
  color: $color_1;
}

.admin-navbar_section-header:active .icon-wrapper {
  border-color: $color_1;
  box-shadow: 0 0 10px $color_1;
}

.admin-navbar_section-header:active .icon {
  color: $color_1;
}

.admin-navbar_section-header:hover .open-list-arrow {
  border: solid $color_1;
  border-width: 0 0.3em 0.3em 0;
  display: inline-block;
  margin-left: -0.1em;
  padding: 0.3em;
  transform: rotate(-45deg);
}

.admin-navbar_section-header:active .open-list-arrow {
  border: solid $color_1;
  border-width: 0 0.3em 0.3em 0;
  display: inline-block;
  margin-left: -0.1em;
  padding: 0.3em;
  transform: rotate(-45deg);
}

.admin-navbar_section-header:hover .open-list-arrow-container {
  transform: rotate(90deg);
}

.admin-navbar_section-header:active .open-list-arrow-container {
  margin-top: 8px;
  transform: rotate(90deg);
}

/* Dropdown list section */

.admin-navbar_dropdown-list {
  height: auto;
  max-height: 123px;
  min-height: 123px;
  overflow: hidden;
  transition: min-height ease-in-out 0.25s, max-height ease-in-out 0.25s;
}

.admin-navbar_option {
  @include apply-flex(space-between, center, center);
  height: 40px;
  &:hover {
    background-color: $color_8;
    box-shadow: $box-shadow_1;
  }
}

.admin-navbar_option-inactive {
  background-color: $color_8;
  border-top: 1px solid $color_7;
  &:hover {
    background-color: $color_8;
    box-shadow: none;
  }
  & .admin-navbar_option-description {
    color: $color_4;
  }
}

.admin-navbar_option-description {
  margin: 0 10px;
  &::before {
    content: "\25CF";
    display: inline-block;
    font-size: 1.0rem;
    margin: 0 10px;
  }
}

.hidden {
  height: 0;
  max-height: 0;
  min-height: 0;
  overflow: hidden;
}

.section-hidden {
  border: none;
  min-width: 0;
  overflow: hidden;
  position: absolute;
  width: 0;
  z-index: 100;
}
