.left-part {
  margin: 10px 0;
}

.online {
  text-align: center;
  color: rgba(128,128,128, 0.5);
}

.progress {
  margin: 10px auto;
  width: 150px;
}

.progress-bar {
  background-color: rgba(245, 55, 55, 0.8);
}

.menu-bar {
  margin-bottom: 100px;
}

.menu-bar-box {
  width: 75%;
  margin: 0 auto;

  .item-link {
    color: black;
  }

  & .item-link:hover {
    text-decoration: none;
    color: black;
  }
}

.menu-bar-box > div {
  margin: 10px auto;
  cursor: pointer;
  //height: 40px;
  height: 3em;
  line-height: 3em;
  transition: 0.8s;
}

.menu-bar-box div a {
  margin-bottom: 10px;
  margin-left: 6px;
  letter-spacing: 1px;
  vertical-align: middle;
}

.menu-bar-box div i {
  vertical-align: middle;
  color: rgba(128,128,128, 0.9);;
}

.menu-bar-box > div:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 6px;
  padding-left: 7px;


  & .item-icon {
    color: rgba(245, 55, 55, 0.8);
    font-size: 30px;
    transition: 0.5s;
  }
}
