<div class="left-part">
  <div>
    <app-upload-avatar></app-upload-avatar>
    <div
      class="online"
      [ngStyle]="isUserOnline && {'color': 'green'} || {'color': 'red'}">
      {{ (isUserOnline) ? 'online' : 'offline' }}
    </div>
    <div class="progress">
      <div
        class="progress-bar"
        role="progressbar"
        [ngStyle]="{'width': userRating.barWidth}"
        aria-valuenow=(userRating.rating)
        aria-valuemin="0"
        aria-valuemax="100">
        {{ userRating.rating }}
      </div>
    </div>
  </div>
  <hr *ngIf="isTrue">
  <div class="menu-bar" *ngIf="isTrue">
    <div class="menu-bar-box">
      <div *ngFor="let item of profileMenu">
        <i class="material-icons item-icon">{{item.icon}}</i>
        <a class="item-link" routerLink={{item.link}}>{{item.name}}</a>
      </div>
    </div>
  </div>
</div>

