<main class="main"
      [ngClass]="{'full-screen': !mainSectionIsVisible}">
  <div class="icon-wrapper burger-icon" (click)="hideNavBar()">
    <div class="icon-container">
      <i class="fas fa-bars icon"></i>
    </div>
  </div>

  <div>
    <div class="header-content">
      <div class="icon-wrapper mail-icon">
        <div class="icon-container">
          <i class="fas fa-envelope icon"></i>
        </div>

        <div class="mail-counter text white-text mail-counter-text">
          <p class="mail-counter-text">
            -                                                   <!--TODO: add binding here-->
          </p>
        </div>
      </div>

      <div class="admin-badge">
        <div
          class="photo-container"
          [ngStyle]="currentUserAvatar && {'background-image': currentUserAvatar}">
          <i
            class="fas fa-user"
            *ngIf="!currentUserAvatar">
          </i>
        </div>

        <div class="user-name-container">
          <h6 class="user-name">
            {{ (currentUser) ? (currentUser.firstName + ' ' + currentUser.lastName) : "undefined" }}
          </h6>
        </div>

        <div class="open-list-arrow-container">
          <span class="open-list-arrow"></span>
        </div>

        <div class="dropdown-list">
          <a class="link" [routerLink]="['/profile', loggedInUser.userId]">
            <div class="dropdown-list_option">
              <p class="dropdown-list_option-description text dropdown-list-text">
                Profile
              </p>
            </div>
          </a>

          <a class="link" (click)="logOut()" routerLink="/home">
            <div class="dropdown-list_option">
              <p class="dropdown-list_option-description text dropdown-list-text">
                Log Out
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="header-search">
      <form class="header_search-form">
        <button
          class="button"
          (click)="searchUsers(); false">
          <span class="magnifying-glass">🔍</span>
        </button>

        <input
          class="input"
          type="text"
          placeholder="Search ..."
          name="Search"
          #search="ngModel"
          [(ngModel)]="searchInput">
      </form>
    </div>
  </div>

</main>
